@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --foreground: #ffffff;
    --muted: #94a3b8;
    --accent: #3b82f6;
    --card: #0a0a0a;
    --border: rgba(255, 255, 255, 0.05);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-blue-500 selection:text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
